body{
    height: 100vh;
    background-color: #64748b;
    margin: 0px;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-rows: repeat(3, 1fr);
}

.board {
    height: 400px;
    width: 400px;
    background-color: black;
    border: 15px solid #e2e8f0;
    border-radius: 20px;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.board > div{
    background-color: #7f1d1d;
    display: flex;
    justify-content: center;
    align-items: center;
}

p {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    font-size: 40px;
    margin: 0px;
}

.header, .content, .button {
    display: flex;
    justify-content: center;
}

#restart {
    border-radius: 30px;
    border: 5px solid #e2e8f0;
    padding: 30px 60px;
    background-color: #7f1d1d;
    font-weight: bold;
    font-size: 20px;
}

#restart:active{
    background-color: #6d0202;
}

h1{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #7f1d1d;
    color: #f87171;
    border: 5px solid #e2e8f0;
    border-radius: 20px;
    padding: 10px;
}