body{
    height: 100vh;
    background-color: #64748b;
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.board {
    height: 400px;
    width: 400px;
    background-color: black;
    border: 15px solid #e2e8f0;
    border-radius: 20px;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.board > div{
    background-color: #7f1d1d;
    display: flex;
    justify-content: center;
    align-items: center;
}

p {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    font-size: 40px;
    margin: 0px;
}